<template>
  <div>
    {{ num }} -- {{ count }}
    <button @click="num++">num++1</button>
    <button @click="jia">count++1</button>
    <input type="text" v-model="count" />

    <p v-for="(item,index) in user.list" :key="index">
      {{item.username}} -- {{item.sex}}
    </p>
    {{user.nums}}
  </div>
</template>
<script>
import { reactive, ref } from "vue";
export default {
  data() {
    return {
      msg: "hello Vue3",
      num: 20,
    };
  },
  mounted() {
    console.log(this);
  },
  //组合式函数的入口访问
  setup(props, context) {
    //ref定义变量
    let count = ref(10);

    //reactive定义一个复杂的对象
    let user = reactive({
      list: [
        { username: "王文博", sex: "未知" },
        { username: "高伟雄", sex: "中" },
        { username: "郝虎", sex: "娘们" },
      ],
      nums:10,
    });

    console.log(user);

    console.log(count.value);

    //方法
    let jia = () => {
      count.value++;
    };

    //后面都需要返回数据
    return {
      count,
      jia,
      user,
    };
  },
};
</script>