<template>
  <div>
    {{ count }} <button @click="count++">count++</button>
    <hr>
    {{num}}  <button @click="num++">num++</button>
    <ul>
        <li v-for="(item,index) in user" :key="index">
            {{item.username}} -- {{item.sex}}  <button @click="user.splice(index,1)">X</button>
        </li>
    </ul>
    总人数: {{userCount}}
  </div>
</template>
<script>
import { computed, reactive, ref, watch } from "vue";
export default {
  setup(props) {
    let count = ref(0);

    let num = ref(10);

    let user = reactive([
      { username: "王文博", sex: "未知" },
      { username: "高伟雄", sex: "中" },
      { username: "郝虎", sex: "娘们" },
    ]);

    //定义计算用户总个数的计算属性computed
    let userCount = computed(()=>{
        console.log('xxxxx');
        return user.length;
    })

    //定义监听器的内容, 监听单个数据
    // watch(count,(newCount,oldCount)=>{
    //     console.log("数据变化的内容"+newCount);
    // })

    //监听多个数据源
    watch([num,user,count],([newNum,newUser,newCount],[oldNum,oldUser,oldCount])=>{
        console.log("数据改变的值",newNum,newUser,newCount);
    },{deep:true})
    //返回的对象的值内容
    return {
      count,
      user,
      userCount,
      num,
    };
  },
};
</script>