<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from './components/HelloWorld.vue'
import Home from './components/Home.vue'
</script>

<template>
  <!-- <HelloWorld msg="Hello Vue 3 + Vite" />
  <Home /> -->
  <router-view></router-view>
</template>

<style>
</style>
